<div class="jumbotron">
    <h1 class="display-3">Messaging</h1>
    <p class="lead">This is a simple messaging managment, available for searching information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <%= link_to "Get Start", new_monitoring_path, class:"btn btn-primary btn-lg" %>
    </p>
  </div>
