<h1>This is your messages</h1>
<div class="mb-3">
 
    <% @searching.where(receive_type: params[:receive_type]).each do |monitoring| %> 
    <div class="me-4 card card-body" >
          <%= monitoring.title %>
   </div>
    <% end %>

    
 
</div>