<h1>Editing Monitoring</h1>

<%= render 'form', monitoring: @monitoring %>

<%= link_to 'Show', @monitoring, class:"btn btn-outline-primary" %> 
<%= link_to 'Back', monitorings_path, class:"btn btn-outline-primary" %>
